*{
    padding: 0;
    margin: 0;
}
.container{
    background:url("bg.png");
    width: 210vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}.calculator{
    background-color: black;
    height: 400px;
    width: 270px;
    border: none;
    border-radius: 30px;

    
}.text{
    display: flex;
    padding: 10px;
    align-items: center;
    width: 250px;
    justify-content: center;
    height: 85px;

    input{
        display: flex;
        align-items: center;
        justify-items: end;
        padding: 12px;
        font-family: sans-serif;
        font-size: xx-large;
        font-weight: bold;
        width: 220px;
        height: 50px;
        border: none;
        border-radius: 40px;
        background-color: white;
    }

}button{
    background-color: black;
    padding: 10px;
    color: #90EE90;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border: 1.px solid gainsboro;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}.btn{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}.num{
    color: gainsboro;
}.num:hover{
    background-color: #90ee905e;
    border: none;
}button:hover{
    background-color: #90ee905e;
    border: none;
}